  <div id="wrapper">

        <!-- Top Bar Start -->
       <app-sidebar></app-sidebar>
        <!-- Top Bar End -->

        <!-- ========== Left Sidebar Start ========== -->
      <app-menu-admin></app-menu-admin>
        <!-- Left Sidebar End -->

       <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">

               

               <div class="container-fluid">
                    <div class="page-title-box">

                        <div class="row align-items-center ">
                            <div class="col-md-8">
                                <div class="page-title-box">
                                    <h4 class="page-title">Formulario de Grupo Especiales</h4>
                                  
                                </div>
                            </div>

                         
                        </div>
                    </div>
                    <!-- end page-title -->


                                     



                    <form role="form" [formGroup]="Form">

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">


                                 

                                      <div class="form-group row" >
                                    <label for="example-text-input" class="col-sm-2 col-form-label">Nombre Grupo Especial</label>
                                      <div class="col-sm-10">
                                         <input type="text"  class="form-control"  placeholder="Ingresar Nombre Grupo Especial"
                                            [ngClass]=" Form.controls['grupo_especial'].valid ? 'is-valid fa fa-check ' : 'is-invalid'"
                                            formControlName="grupo_especial" [(ngModel)]="grupos.grupo_especial"
                                            >
                                           <div class="invalid-feedback"
                                            *ngIf="Form.controls['grupo_especial'].touched && 
                                            Form.controls['grupo_especial'].errors?.required"   >
                                              Grupo Especial es Obligatorio...
                                            </div>

                                         
                                        </div>
                                    </div>
                                                           
                


                                     <div class="form-group row" >
                                    <label for="example-text-input" class="col-sm-2 col-form-label">Codigo Grupo Especial</label>
                                      <div class="col-sm-10">
                                         <input type="text"  class="form-control"  placeholder="Ingresar Nombre Grupo Especial"
                                            [ngClass]=" Form.controls['codigo_grupo_especial'].valid ? 'is-valid fa fa-check ' : 'is-invalid'"
                                            formControlName="codigo_grupo_especial" [(ngModel)]="grupos.codigo_grupo_especial"
                                            >
                                           <div class="invalid-feedback"
                                            *ngIf="Form.controls['codigo_grupo_especial'].touched && 
                                            Form.controls['codigo_grupo_especial'].errors?.required"   >
                                             Codigo Grupo Especial es Obligatorio...
                                            </div>

                                         
                                        </div>
                                    </div>
                                             








                                


                                  












                                   
                               
                                  






                                  
                                  

                                   
                                

                                <button type="submit" style="margin-left:450px; margin-top:40px" *ngIf="!edit" class="btn btn-primary btn-lg" (click)="GuardarGrupos()">Guardar</button>
                                <button type="submit" style="margin-left:450px; margin-top:40px" *ngIf="edit" class="btn btn-primary btn-lg" (click)="ActualizarGrupos()">Actualizar</button>

                                </div>
                            </div>

                            
                        </div>
                        <!-- end col -->

                        
                    </div>
                    <!-- end row -->










                    </form>

                </div>



















                <!-- container-fluid -->

            </div>
            <!-- content -->

            <footer class="footer">
              
            </footer>

        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->

    </div>