<div class="wrapper">

    <!-- Navbar -->
   <app-navbar></app-navbar>
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
  <app-sidebar></app-sidebar>
  
    <!-- Content Wrapper. Contains page content -->
    

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
               
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a [routerLink]="['/inventario/admin/list']">Inventario</a></li>
                  <li class="breadcrumb-item active">Agregar</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">

          <div class="container-fluid">
            <div class="row">
              <!-- left column -->

              <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Buscar Inventario</h3>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                 
                <form role="form" [formGroup]="Form">
                  <div class="card-body">

                    <div class="form-row">

                      
                     <div class="form-group col-md-12">
                      <label >Municipio:</label>
                       <select type="text" class="form-control" placeholder="Ingresar "
                     [ngClass]=" Form.controls['municipio_id'].valid ? 'is-valid state-valid' : 'is-invalid state-invalid'"
                      formControlName="municipio_id" [(ngModel)]="municipio_id"  (change)="getCentroSalud($event.target.value)"          
                      >
                    
                      <option *ngFor="let municipio of municipios" value="{{municipio.id}}">{{municipio.municipio}}</option>
                    </select>

                    <div class="invalid-feedback"
                    *ngIf="Form.controls['municipio_id'].touched && 
                     Form.controls['municipio_id'].errors?.required"   >
                        Municipio es Obligatorio...
                    </div>

                   </div>
                    </div>

                   
                    

                <div class="form-row">
                      
                      <div class="form-group col-md-12">
                        <label>Centro Salud</label>
                        <select type="text" class="form-control" placeholder="Ingresar Centro de Salud"
                         [ngClass]=" Form.controls['centro_salud_id'].valid ? 'is-valid state-valid' : 'is-invalid state-invalid'"
                         formControlName="centro_salud_id" [(ngModel)]="centro_salud_id"           
                        >
                    
                      <option *ngFor="let centrossalud of centrosalud" value="{{centrossalud.id}}">{{centrossalud.centro_salud}}</option>
                    </select>

                            <div class="invalid-feedback"
                            *ngIf="Form.controls['centro_salud_id'].touched && 
                            Form.controls['centro_salud_id'].errors?.required"   >
                                Centro de Salud es Obligatorio...
                            </div>
                     </div>
                 </div>



              


              



             


               
                


               


                  
                   
                    
                    </div>
                    <!-- /.card-body -->
    
            <div class="card-footer">
            <button  class="btn btn-primary m-5" [routerLink]="['/inventario/estadal/estados', usuarioID]" >Buscar Por Estados</button>
            <button  class="btn btn-danger m-5" [routerLink]="['/inventario/estadal/municipios', municipio_id]" >Buscar Por Municipio</button>
            <button  class="btn btn-success m-5" [routerLink]="['/inventario/general/centrosalud', centro_salud_id]" >Buscar Por Centro Salud</button>
            

            </div>

            </form>
        </div>
                <!-- /.card -->
    
                          
    
              
    
              </div>
              <!--/.col (left) -->


              <!-- right column -->
             
              <!--/.col (right) -->
            </div>
            <!-- /.row -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>




    <!-- /.content-wrapper -->
    <app-footer></app-footer>
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>